<!doctype html>
<html lang="en" >
  <head>
    <title>Domus Thermo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="/css/bootstrap-responsive.min.css"-->
    <style>
      body {
        padding-top: 60px;
      }
      .table   {
 
         opacity : 0.9;
      }
      .panel-group   {
         opacity : 0.7;
      }
    </style>
  </head>
  <body ng-app="domusApp" ng-controller="LightController" ng-style="bodyStyle">
    <div>
    <div class="container" >
      <div ng-include="'navbar.html'"></div>
      
      <div class="page-header">
      </div>
      
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            
          </ul>
        </div>
        <accordion>
        <accordion-group ng-repeat="g in groups">
        <accordion-heading>
            {{g.groupTitle}} ( {{g.groupCode}} )
            <button type="button" class="pull-right btn btn-primary"  ng-click="groupOff(g)"><span class="glyphicon glyphicon-off"></span></button>
        </accordion-heading>
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Alias</th>
                <th class="span7">Adr</th>
                <th class="span9"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="d in g.devices" >
                <td class="span2" ng-bind="d.deviceTitle" ></td>
                <td class="span5" ng-bind="d.deviceCode"></td>
                <td class="span7">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="on(d)"><span class="glyphicon glyphicon-on"></span>I</button>
                        <button type="button" class="btn btn-primary"  ng-click="off(d)"><span class="glyphicon glyphicon-off"></span></button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
          </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script>
      
      var domusApp = angular.module("domusApp", ['ui.bootstrap']);
      
      domusApp.controller('LightController',LightController);  
      
      function LightController($scope, $http) {
        
        $scope.devices = []; //soon below replaced by REST call
        $scope.groups = ["a","b"];
        
        $scope.background = '/photo_cache/lumen.jpg';
        $scope.bodyStyle = { 'background-size' : 'cover' , 
                             'background-image' : 'url('+$scope.background+')' , 
                             'background-repeat' : 'no-repeat' };  //for the start will update later
        
        
        $http.get('devices').
        success(function(data) {
            $scope.groups = data;
        });
        
        $scope.on = function on(d) {
            var commandObj = {};
            commandObj.command="on";
            commandObj.comparam="";
            $http.put('devices/'+d.deviceCode,commandObj);
        };
        
        $scope.off = function off(d) {
            var commandObj = {};
            commandObj.command="off";
            commandObj.comparam="";
            $http.put('devices/'+d.deviceCode,commandObj);
        };
        
        $scope.groupOff = function groupOff(g) {
            var commandObj = {};
            commandObj.command="alloff";
            commandObj.comparam="";
            $http.put('devices/'+g.groupCode,commandObj);
        };
        
      }
      
      LightController.$inject = ['$scope','$http'];  
    </script>
  </div>     
  


  </body>
</html>
