<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Domus Kerberos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    
    
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> 

    <script>
      function gateController($scope, $http, $timeout) {
          
        $scope.banners = [];  
        $scope.actual_tempertature = 0.0;
        $scope.outsideTemp = 0.0;
        $scope.sunrise = "0:00";
        $scope.sunset = "0:00";
        $scope.outsideHumidity = 0.0;
        $scope.background = '/photo_cache/day_clouds.jpg';
        $scope.bodyStyle = { 'background-size' : 'cover' , 
                             'background-image' : 'url('+$scope.background+')' , 
                             'background-repeat' : 'no-repeat' };  //for the start will update later
       
       
        var reader = function() {
                    ["actual_temperature","waterTemp","waterHeatingTemp","heatingTemp"].forEach(function(entry) {
                        $http.get('globals/'+entry)
                            .success(function(data) {
                            $scope[entry] = JSON.parse(data);
                        });
                    });
                
            
            
                    $http.get('bannerfull').
                    success(function(data) {
                        $scope.banners = data;
                    });
                    
                    
                    $http.get('read_sensor/EXTERNAL').
                    success(function(data) {
                        $scope.outsideHumidity = data.humidity;
                        $scope.outsideTemp = data.temperature;
                    });
                    
                    $http.get('globals/sunrise').
                    success(function(data) {
                        $scope.sunrise = JSON.parse(data)
                    });
                    
                    $http.get('globals/sunset').
                    success(function(data) {
                        $scope.sunset = JSON.parse(data)
                    });
                    
                    $http.get('weatherphoto').
                        success(function(data) {
                        $scope.background = JSON.parse(data);
                        $scope.bodyStyle['background-image'] = 'url('+$scope.background+')';
                    });
                    
                    $timeout(reader, 8000);
            }
               

        reader();

          
        $scope.gateOpen = function() {
            $http.get("/gate")
//                .success(function() { alert('success') })
                .error(function (data, status, headers, config) {alert("error")});
        };
      };
      
      gateController.$inject = ['$scope','$http', '$timeout'];  
    </script>
  </head>
  
  <body  ng-controller="gateController" ng-style="bodyStyle">
    <div ng-include="'navbar.html'"></div>
    <div class="jumbotron" style="opacity : 0.8" >
        <div class="container" >
            <h3><span class="glyphicon glyphicon-cloud"></span> {{outsideTemp}} &degC <span class="glyphicon glyphicon-tint"></span> {{outsideHumidity}} %</h3>  
            <h4 ng-repeat = "b in banners">{{b}}</h4>
            <h4>Daylight {{sunrise}} {{sunset}}</h4>
            <h6><span class="glyphicon glyphicon-home"></span> {{actual_temperature}} &degC </h6>
            <h6><span class="glyphicon glyphicon-fire"></span> {{waterHeatingTemp}} &degC </h6>
            
            <h6><span class="glyphicon glyphicon-step-backward"></span>{{waterTemp}} &degC</h6>
            <h6><span class="glyphicon glyphicon-step-forward"></span>{{heatingTemp}} &degC</h6>
            
            <p><a class="btn btn-primary btn-lg" role="button" ng-click="gateOpen()" ><span class="glyphicon glyphicon-lock"></span>Open</a></p>
        </div>
    </div>

  </body>
</html>
