<!doctype html>
<html lang="en" >
  <head>
    <title>Hiko Thermo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="/css/bootstrap-responsive.min.css"-->
    <style>
      body {
        padding-top: 60px;
      }
      .table   {
         background-color: #E6E6E6 ;
         opacity : 0.9;
      }
    </style>
  </head>
  <body ng-app="domusApp" ng-controller="TempController" ng-style="bodyStyle">
    <div >
    <div class="container">
      <div ng-include="'navbar.html'"></div>
      
      <div class="page-header">
      </div>
          <nav class="navbar navbar-default" >
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Profile</a>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
                </div>
            
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                  <ul class="nav navbar-nav">
                    <li class="btn-group navbar-left">
                            <form class="navbar-form form-inline">
                                <label class="btn btn-default" ng-model="profile" btn-radio="'HOME'"  >Home</label>
                                <label class="btn btn-default" ng-model="profile" btn-radio="'AWAY'"  >Away</label>
                            </form>    
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <label>Heat only when  <span class="glyphicon glyphicon-cloud"></span><em><b>below {{maxext}}&deg C</b></em> </label>
                            <label class="btn btn-default"  btn-radio="'EXTMINUS'" ng-click="downext(h)" ><span class="glyphicon glyphicon-minus-sign"></span></label>
                            <label class="btn btn-default"  btn-radio="'EXTPLUS'" ng-click="upext(h)"  ><span class="glyphicon glyphicon-plus-sign"></span></label>
                        </div>
                        
                      </form>
                    </li>
                    <li class="navbar-right">
                        <a href=#><em><b><span class="glyphicon glyphicon-home"></span> {{actual_temperature}} &deg C 
                        <span class="glyphicon glyphicon-cloud"></span> {{ext_temperature}} &deg C </b></em></a>
                    </li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
        </nav>
                
        <alert type="danger" ng-show="boilerConProblem">Boiler connection problem</alert>
        <alert ng-show="heating">Heating</alert>
            </li>
          </ul>
        

    
        <!--div class="span9"-->
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span1">Hour</th>
                <th class="span1">Air</th>
                <th class="span1"></th>
                <th class="span1">Water</th>
                <th class="span1"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="h in hours" >
                <td class="span1" ng-bind="h.hour" ></td>
                <td class="span1" ng-bind="h.temp"></td>
                <td class="span1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="down(h)"><span class="glyphicon glyphicon-minus-sign"></span></button>
                        <button type="button" class="btn btn-sm btn-danger"  ng-click="up(h)"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </div>
                </td>
                <td class="span1" ng-bind="h.glob"></td>
                <td class="span1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary" ng-click="downw(h)"><span class="glyphicon glyphicon-minus-sign"></span></button>
                        <button type="button" class="btn btn-sm btn-danger"  ng-click="upw(h)"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        <!--/div-->
      </div>

    
 
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script>
      
      var domusApp = angular.module("domusApp", ['ui.bootstrap']);
      
      domusApp.controller('TempController',TempController);  
      
      function TempController($scope, $http, $timeout) {
        
        $scope.messages = [];
        $scope.hours = [];
        $scope.name = '';
        $scope.text = '';
        $scope.profile = 'HOME'; 
        $scope.boilerConProblem = false;
        $scope.heating = false;
        $scope.maxext = 0;
        
        //$scope.background = '/photo_cache/heat.jpg';
        $scope.bodyStyle = { 'background-size' : 'cover' , 
        //                     'background-image' : 'url('+$scope.background+')' , 
                             'background-repeat' : 'no-repeat' };  //for the start will update later

        //regular polling of database
        var poll = function() {
            $timeout(function() {
                ["actual_temperature","ext_temperature","waterTemp","waterHeatingTemp","heatingTemp"].forEach(function(entry) {
                    $http.get('globals/'+entry)
                    .success(function(data) {
                        $scope[entry] = JSON.parse(data);
                    });
                });
                
                
                $http.get('globals/boiler_connection_ok')
                    .success(function(data) {
                        if(JSON.parse(data) === false)
                            $scope.boilerConProblem = true;
                        else   
                            $scope.boilerConProblem = false;
                    });
                    
                $http.get('globals/heating')
                    .success(function(data) {
                        if(JSON.parse(data) === false)
                            $scope.heating = false;
                        else   
                            $scope.heating = true;
                    });
                    
 
                
                poll();
            }, 4000);
        };     
        poll();
        
        
        ["maxext","profile"].forEach(function(entry) {
                    $http.get('globals/'+entry)
                    .success(function(data) {
                        $scope[entry] = JSON.parse(data);
                    });
                });
        
        
        $http.get('hours')
            .success(function(data) {
                $scope.hours = data;
        });

        $scope.$watch('profile', function(newValue, oldValue) {
             var newObj = {};
             newObj.profile = newValue;
             $http.put('globals/profile',newObj)
                .success(function() { 
                         $http.get('hours').
                            success(function(data) {
                                    $scope.hours = data;
                            });
                });
        });        
        
        $scope.$watch('maxext', function(newValue, oldValue) {
             var newObj = {};
             newObj.maxext = newValue;
             $http.put('globals/maxext',newObj);
        });
        
        
        $scope.up = function up(h) {
            h.temp++;
            if(h.temp > 30) {
                h.temp = 30;
            }
            $http.put('hours/'+h.hour,h);
        };
        
        
        $scope.down = function down(h) {
            h.temp--;
            if(h.temp < 5) {
                h.temp = 5;
            }
            $http.put('hours/'+h.hour,h);
        };
        
        $scope.upw = function upw(h) {
            h.glob=parseInt(h.glob)+5;
            if(h.glob > 90) {
                h.glob = 90;
            }
            $http.put('hours/'+h.hour,h);
        };
        
        $scope.downw = function downw(h) {
            h.glob=parseInt(h.glob)-5;
            if(h.glob < 10) {
                h.glob = 10;
            }
            $http.put('hours/'+h.hour,h);
        };
        
        $scope.glob = function glob(h) {
            h.glob = !h.glob;
            $http.put('hours/'+h.hour,h);
        };
        
        $scope.upext = function upext() {
            $scope.maxext++;
        };
        
        $scope.downext = function downext() {
            $scope.maxext--;
        };
        
        $scope.butColor = function(h) {
            if(h.glob)
                return "danger";
            else
                return "primary";

        };
        
      }
      
      TempController.$inject = ['$scope','$http', '$timeout'];  
      
     
      
    </script>

        

  </div>      
  </body>
</html>
