<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <a class="navbar-brand" href="#">Hiko</a>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="domusThermo">Thermo</a></li>
                <li> <a href="domusLumen">Lumen</a></li>
                <li> <a href="domusGatekeeper">Gate Keeper</a></li>
                <li> <a href="domusCharter">Charts</a></li>
            </ul>
        </div>
    </div>
</div>    